
body, h1, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000;
}


header {
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    max-height: 120px;
    display: block;
}


.main-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}


.left-sidebar {
    width: 300px;
}

.accordion-item {
    margin-bottom: 16px;
}

.accordion-item-summary {
    font-weight: bold;
    cursor: pointer;
}

.accordion-item-content {
    padding: 10px 0;
}

.accordion-item-content ul {
    list-style-type: disc;
    padding-left: 20px;
}


.article-content {
    flex: 1;
}


.location-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}


.location-image {
    margin-left: auto;
    text-align: center;
}

.location-image img {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
}

.location-image p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}


.image-box {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 4px;
    width: 420px;
    font-size: 14px;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

.image-caption {
    margin-top: 6px;
    padding: 4px;
    text-align: center;
    color: #202122;
    line-height: 1.4;
}


.victims2-box {
    background-color: #f8f9fa;  /* gray */
    border: 1px solid #a2a9b1;  /*  gray */
    padding: 12px 16px;          /* inferior space */
    margin: 16px 0;              /* space between elements */
    border-radius: 4px;          /* round corners */
    font-size: 15px;
    line-height: 1.6;            /* arteist text */
    color: #202122;
}
